

*{
    user-select: none;
}
body{
    padding: 0;
    margin: 0;
}

.container-fluid{
    background-color: #fff;
    height: 100dvh;
}
.introduction{
    background-color: #1D1A39;
    height: 100dvh;
}
.voiceover{
    background-color: #451952;
    height: 100dvh;
}
.laser{
    background-color: #662549;
    height: 100dvh;
}
.event{
    background-color: #AE445A;
    height: 100dvh;
}
.contact{
    background-color: #F39F5A;
    height: 85dvh;
}
.contactContainer{
    padding-top: 5rem;
}