body{
    user-select: none;
}

section{
    margin-inline: 0.5rem;
}

.container {
    margin: 0 auto;
    margin-top: 20rem;
    min-height: 20rem;
    max-width: 35rem;
    background-color: hsl(224, 12%, 17%);
    /* border: 1px solid black; */
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px grey;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section h2{
    padding: 1rem;
    padding-bottom: 0;
}
section p{
    padding-inline: 1rem;
}
section .eventsList{
    text-align: center;
    font-style: italic;
}